@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
  }

